{% extends 'base.html.twig' %}

{% block body %}
<ul>
{% for quote in quotes %}
    <li>
        <span>{{ quote.name }}</span> {# essaye d'accéder à la propriété privée mais n'y arrive pas, du coup utilise la méthode getName() #}
        <span>{{ quote.createdAt | date('d/m/Y') }}</span>
        <span>{{ quote.state.name }}</span> {# accès direct au name via le state de quote#}
        <a href="{{ path('admin_details', {'quote_id': quote.id}) }}">Détails</a>
    </li>
{% endfor %}
</ul>
{% endblock %}

