<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</li>
                <li><a href="/ask-a-quote">Demander un devis</li>
                <li><a href="/gallery">Gallerie</li> 
                <li><a href="/about">A propos</li>
            </ul>
        </nav>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
